@font-face {
	font-family: 'icomoon';
	src: url('/public/assets/fonts/icomoon/icomoon.eot?86hf5w');
	src: url('/public/assets/fonts/icomoon/icomoon.eot?86hf5w#iefix')
			format('embedded-opentype'),
		url('/public/assets/fonts/icomoon/icomoon.ttf?86hf5w') format('truetype'),
		url('/public/assets/fonts/icomoon/icomoon.woff?86hf5w') format('woff'),
		url('/public/assets/fonts/icomoon/icomoon.svg?86hf5w#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: '\e900';
}
.icon-home:before {
	content: '\e901';
}
