<section class="container" id="breadcrump">
	<article class="row">
		<div class="col-12">
			<div class="breadcrump">
				<div class="breadcrump__box">
					<icon class="icon-home"></icon>
					<div class="d-flex aling-itens-center">
						<span class="breadcrump__box__arrow">></span>
						<a href="#" class="breadcrump__box__link">Pessoas</a>
						<span class="breadcrump__box__arrow">></span>
						<a href="#" class="breadcrump__box__link">Trabalhe Conosco</a>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
