<div id="theCompany" class="theCompany">
	<img
		class="img-fluid theCompany__img"
		src="/public/assets/img/img-company.png"
		alt="a compania"
	/>
	<div class="theCompany__box">
		<button type="button" class="theCompany__box__btn">
			<img class="img-fluid" src="/public/assets/img/logo-mrv.png" alt="mrv" />
		</button>

		<button type="button" class="theCompany__box__btn">
			<img
				class="img-fluid"
				src="/public/assets/img/logo-mrv-instituto.png"
				alt="instituto mrv"
			/>
		</button>
	</div>
</div>
<a href="#" class="btn-vagas d-inline-flex d-lg-none">Conferir vagas</a>
