<!-- Modal -->
<div
	class="modal fade"
	id="modal_mrv"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<img
					src="/public/assets/img/logo-mrv.webp"
					alt="Logotipo"
					class="img-fluid"
				/>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<icon class="icon-close"></icon>
				</button>
			</div>
		</div>
	</div>
</div>
