<div id="accordion" class="accordion">
	<div class="accordion__column">
		<div class="accordion__card">
			<div
				class="card-header"
				id="heading01"
				data-toggle="collapse"
				data-target="#collapse01"
				aria-expanded="true"
				aria-controls="collapse01"
			>
				<h3>Sua Beleza</h3>
				<icon class="icon-arrow-down"></icon>
			</div>

			<div
				id="collapse01"
				class="collapse show"
				aria-labelledby="heading01"
				data-parent="#accordion"
			>
				<div class="card-body">
					Sabemos que com a rotina agitada nem sempre sobre tempo para se
					cuidar. Por isso o programa Sua Beleza traz para dentro da MRV um
					“salão de beleza”, facilitando cuidados de rotina.
				</div>
			</div>
		</div>

		<div class="accordion__card">
			<div
				class="card-header"
				id="heading03"
				data-toggle="collapse"
				data-target="#collapse03"
				aria-expanded="true"
				aria-controls="collapse03"
			>
				<h3>Sua Mente</h3>
				<icon class="icon-arrow-down"></icon>
			</div>

			<div
				id="collapse03"
				class="collapse"
				aria-labelledby="heading03"
				data-parent="#accordion"
			>
				<div class="card-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
					terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
					skateboard dolor brunch.
				</div>
			</div>
		</div>
	</div>

	<div class="accordion__column">
		<div class="accordion__card">
			<div
				class="card-header"
				id="heading02"
				data-toggle="collapse"
				data-target="#collapse02"
				aria-expanded="true"
				aria-controls="collapse02"
			>
				<h3>Encontro</h3>
				<icon class="icon-arrow-down"></icon>
			</div>

			<div
				id="collapse02"
				class="collapse"
				aria-labelledby="heading02"
				data-parent="#accordion"
			>
				<div class="card-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
					terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
					skateboard dolor brunch.
				</div>
			</div>
		</div>

		<div class="accordion__card">
			<div
				class="card-header"
				id="heading04"
				data-toggle="collapse"
				data-target="#collapse04"
				aria-expanded="true"
				aria-controls="collapse04"
			>
				<h3>Seu Estilo</h3>
				<icon class="icon-arrow-down"></icon>
			</div>

			<div
				id="collapse04"
				class="collapse"
				aria-labelledby="heading04"
				data-parent="#accordion"
			>
				<div class="card-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
					terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
					skateboard dolor brunch.
				</div>
			</div>
		</div>
	</div>
</div>
